# build & outputs
build/
out/
dist/
*.o
*.a
*.so
*.dll
*.exe
*.elf
*.map

# 大文件/压缩/模型/固件/数据
*.bin
*.img
*.zip
*.tar
*.tar.gz
*.7z
*.whl
*.onnx
*.rknn
*.pb
*.pdb
*.wav
*.pcm
*.dat
*.pdf
*.log

# vendored 依赖（如需仅保留头文件）
third/
!third/**/*.h
!third/**/*.hpp

# IDE
.vscode/
.idea/
third/onnxruntime/onnxruntime-androidr25c-x86_64-static/lib/libonnxruntime.a
third/onnxruntime/onnxruntime-androidr25c-x86_64-static/libonnxruntime (1).zip
third/onnxruntime/onnxruntime-androidr25c-x86_64-static/libonnxruntime.zip
third/onnxruntime/onnxruntime-linux-aarch64-static_lib-1.17.1/lib/libonnxruntime.a
third/onnxruntime/onnxruntime-win-x64-1.12.1/lib/onnxruntime.pdb
third/rknn-toolkit2-master/autosparsity/examples/resnet50.onnx
third/rknn-toolkit2-master/doc/01_Rockchip_RK2118_Quick_Start_RKNN_SDK_V2.2.0_EN.pdf
third/rknn-toolkit2-master/doc/01_Rockchip_RKNPU_Quick_Start_RKNN_SDK_V2.2.0_CN.pdf
third/rknn-toolkit2-master/doc/01_Rockchip_RKNPU_Quick_Start_RKNN_SDK_V2.2.0_EN.pdf
third/rknn-toolkit2-master/doc/01_Rockchip_RV1106_RV1103_Quick_Start_RKNN_SDK_V2.2.0_CN.pdf
third/rknn-toolkit2-master/doc/01_Rockchip_RV1106_RV1103_Quick_Start_RKNN_SDK_V2.2.0_EN.pdf
third/rknn-toolkit2-master/rknn-toolkit2/docker/docker_file/ubuntu_20_04_cp38/rknn_toolkit2-2.2.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
third/rknn-toolkit2-master/rknn-toolkit2/examples/functions/custom_op/non-onnx_standard/yolox_s.onnx
third/rknn-toolkit2-master/rknn-toolkit2/examples/functions/hybrid_quant/ssd_mobilenet_v2.pb
third/rknn-toolkit2-master/rknn-toolkit2/examples/onnx/yolov5/yolov5s_relu.onnx
third/rknn-toolkit2-master/rknn-toolkit2/examples/tensorflow/ssd_mobilenet_v1/ssd_mobilenet_v1_coco_2017_11_17.pb
third/rknn-toolkit2-master/rknn-toolkit2/packages/rknn_toolkit2-2.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
third/rknn-toolkit2-master/rknn-toolkit2/packages/rknn_toolkit2-2.2.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
third/rknn-toolkit2-master/rknn-toolkit2/packages/rknn_toolkit2-2.2.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
third/rknn-toolkit2-master/rknn-toolkit2/packages/rknn_toolkit2-2.2.0-cp36-cp36m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
third/rknn-toolkit2-master/rknn-toolkit2/packages/rknn_toolkit2-2.2.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
third/rknn-toolkit2-master/rknn-toolkit2/packages/rknn_toolkit2-2.2.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
third/rknn-toolkit2-master/rknn-toolkit2/packages/rknn_toolkit2-2.2.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
third/rknn-toolkit2-master/rknpu2/examples/3rdparty/opencv/OpenCV-android-sdk/sdk/native/3rdparty/libs/arm64-v8a/libIlmImf.a
third/rknn-toolkit2-master/rknpu2/examples/3rdparty/opencv/OpenCV-android-sdk/sdk/native/3rdparty/libs/arm64-v8a/liblibprotobuf.a
third/rknn-toolkit2-master/rknpu2/examples/3rdparty/opencv/OpenCV-android-sdk/sdk/native/3rdparty/libs/armeabi-v7a/liblibprotobuf.a
third/rknn-toolkit2-master/rknpu2/examples/3rdparty/opencv/OpenCV-android-sdk/sdk/native/staticlibs/arm64-v8a/libopencv_calib3d.a
third/rknn-toolkit2-master/rknpu2/examples/3rdparty/opencv/OpenCV-android-sdk/sdk/native/staticlibs/arm64-v8a/libopencv_core.a
third/rknn-toolkit2-master/rknpu2/examples/3rdparty/opencv/OpenCV-android-sdk/sdk/native/staticlibs/arm64-v8a/libopencv_imgproc.a
third/rknn-toolkit2-master/rknpu2/examples/3rdparty/opencv/OpenCV-android-sdk/sdk/native/staticlibs/armeabi-v7a/libopencv_core.a
third/rknn-toolkit2-master/rknpu2/examples/3rdparty/opencv/OpenCV-android-sdk/sdk/native/staticlibs/armeabi-v7a/libopencv_imgproc.a
third/rknn-toolkit2-master/rknpu2/examples/rknn_yolov5_demo/convert_rknn_demo/yolov5/onnx_models/yolov5s_for_apk_demo.onnx
third/rknn-toolkit2-master/rknpu2/examples/rknn_yolov5_demo/convert_rknn_demo/yolov5/onnx_models/yolov5s_relu.onnx
third/rknn-toolkit2-master/rknpu2/examples/rknn_yolov5_demo/convert_rknn_demo/yolov5/realesr-general-x4v3_1080_1920.rknn
third/rknn-toolkit2-master/rknpu2/examples/rknn_yolov5_demo/convert_rknn_demo/yolov5/realesr-general-x4v3.rknn
third/rknn-toolkit2-master/rknpu2/examples/rknn_yolov5_demo/convert_rknn_demo/yolov5/unet_noise_revb_0113_small.onnx
third/rknn-toolkit2-master.zip
tool/bfio
tool/bfio5
tool/ef
tool/ekws
tool/engine
tool/engine-asr
tool/engine-asr2
tool/engine-enroll
tool/engine-eval
tool/kvadwake
tool/module
tool/mqform
tool/myasr
tool/svp-sc
tool/test_ecsr
tool/test_ecsrsc
tool/wasr
