*.o
*.a
*.so
*.dll
*.exe
*.pdb
*.obj
*.lib
*.class
*.zip
*.7z
*.tar
*.tar.gz
*.tgz
*.xz
*.rknn
*.onnx
*.tflite
*.pt
*.pth
*.bin
*.dat
tool/engine*
tool/ekws
tool/test_ecsr*
tool/bfio*
tool/module
tool/mqform
tool/kvadwake
tool/svp-sc
tool/wasr
tool/myasr
test/tool/sdk/process/*.o
